.App {
  text-align: center;
}

.line {
  height: 9px;
}

.blackDot{
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 1px;
  background-color: black;
}

.whiteDot{
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 1px;
  background-color: white;
}